<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>BackOffice Dashboard Demo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/solid.min.css"
          rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/74e9ad2b27.js" crossorigin="anonymous"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <!-- <script type="text/javascript" src="https://code.highcharts.com/themes/gray.js"></script> -->
    <script type="text/javascript" src="js/dashboard.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="css/shards-dashboards.1.1.0.min.css">
    <!-- <link rel="stylesheet" href="css/extras.1.1.0.min.css">
   -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
<!--
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
    <script src="js/extras.1.1.0.min.js"></script>
    <script src="js/shards-dashboards.1.1.0.min.js"></script>
    <script src="js/app/app-blog-overview.1.1.0.js"></script>
    -->
</head>
<body>
<div class="container-fluid">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">
            <img src="images/ConnectOnlineLogo.svg" width="220" height="40" class="d-inline-block align-top" alt="">
        </h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/connect/dashboard">Dashboard</a>
            <a class="p-2 text-dark" href="/connect/taskboard">Tasks Assignment</a>
            <a class="p-2 text-dark" href="/connect/geospatial">GeoSpatial Search</a>
            <a class="p-2 text-dark" href="/connect/testha">HA Simulation Test</a>
        </nav>
        <a class="btn btn-outline-primary" href="#">Sign up</a>
    </div>
    <div class="container">
        <main class="main-content-container container-fluid px-4" id="task-board">

            <!-- Page Header -->
            <div class="page-header row no-gutters py-4">
                <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                    <span class="text-uppercase page-subtitle">Dashboard</span>
                    <h3 class="page-title">BackOffice Overview</h3>
                </div>
            </div>
            <!-- End Page Header -->
            <!-- Small Stats Blocks -->
            <div class="row">
                <div class="col-lg col-md-6 col-sm-6 mb-4">
                    <div class="stats-small stats-small--1 card card-small">
                        <div class="card-body p-0 d-flex"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                            <div class="d-flex flex-column m-auto">
                                <div class="stats-small__data text-center">
                                    <span class="stats-small__label text-uppercase">Customers</span>
                                    <h6 class="stats-small__value count my-3">2,390</h6>
                                </div>
                                <div class="stats-small__data">
                                    <span class="stats-small__percentage stats-small__percentage--increase">4.7%</span>
                                </div>
                            </div>
                            <div id="customers" style="display: block; height: 124px; width: 155px;"></div>
                            <!-- <canvas height="124" class="blog-overview-stats-small-1 chartjs-render-monitor" width="310" style="display: block; height: 62px; width: 155px;"></canvas> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg col-md-6 col-sm-6 mb-4">
                    <div class="stats-small stats-small--1 card card-small">
                        <div class="card-body p-0 d-flex"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                            <div class="d-flex flex-column m-auto">
                                <div class="stats-small__data text-center">
                                    <span class="stats-small__label text-uppercase">Projects</span>
                                    <h6 class="stats-small__value count my-3">182</h6>
                                </div>
                                <div class="stats-small__data">
                                    <span class="stats-small__percentage stats-small__percentage--increase">12.4%</span>
                                </div>
                            </div>
                            <div id="projects" style="display: block; height: 124px; width: 155px;"></div>
                            <!-- <canvas height="124" class="blog-overview-stats-small-2 chartjs-render-monitor" width="310" style="display: block; height: 62px; width: 155px;"></canvas> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg col-md-4 col-sm-6 mb-4">
                    <div class="stats-small stats-small--1 card card-small">
                        <div class="card-body p-0 d-flex"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                            <div class="d-flex flex-column m-auto">
                                <div class="stats-small__data text-center">
                                    <span class="stats-small__label text-uppercase">Tasks</span>
                                    <h6 class="stats-small__value count my-3">8,147</h6>
                                </div>
                                <div class="stats-small__data">
                                    <span class="stats-small__percentage stats-small__percentage--decrease">3.8%</span>
                                </div>
                            </div>
                            <div id="tasks" style="display: block; height: 124px; width: 155px;"></div>
                            <!-- <canvas height="124" class="blog-overview-stats-small-3 chartjs-render-monitor" width="310" style="display: block; height: 62px; width: 155px;"></canvas> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg col-md-4 col-sm-6 mb-4">
                    <div class="stats-small stats-small--1 card card-small">
                        <div class="card-body p-0 d-flex"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                            <div class="d-flex flex-column m-auto">
                                <div class="stats-small__data text-center">
                                    <span class="stats-small__label text-uppercase">Incomes</span>
                                    <h6 class="stats-small__value count my-3">2,413</h6>
                                </div>
                                <div class="stats-small__data">
                                    <span class="stats-small__percentage stats-small__percentage--increase">12.4%</span>
                                </div>
                            </div>
                            <div id="incomes" style="display: block; height: 124px; width: 155px;"></div>
                            <!-- <canvas height="124" class="blog-overview-stats-small-4 chartjs-render-monitor" width="310" style="display: block; height: 62px; width: 155px;"></canvas> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Small Stats Blocks -->
            <div class="row">
                    <!-- Tasks Stats -->
                    <div class="col-lg-8 col-md-12 col-sm-12 mb-4">
                        <div class="card card-small">
                            <div class="card-header border-bottom">
                                <h6 class="m-0">Top Employees</h6>
                            </div>
                            <div class="card-body pt-0">
                                <div id="top_employees" style="max-width: 100% !important; display: block; height: 280px; width: 600px;"></div>
                                <!-- <canvas height="480" style="max-width: 100% !important; display: block; height: 240px; width: 556px;" class="blog-overview-users chartjs-render-monitor" width="1112"></canvas> -->
                            </div>
                        </div>
                    </div>
                    <!-- End Users Stats -->

                    <!-- Users By Device Stats -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <div class="card card-small h-100">
                            <div class="card-header border-bottom">
                                <h6 class="m-0">Tasks by Type</h6>
                            </div>
                            <div class="card-body d-flex py-0">
                                <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                    <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                        <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                                    </div>
                                    <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                        <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                                    </div>
                                </div>
                                <div id="tasks_by_type" style="display: block; height: 300px; width: 300px;"></div>
                                <!--<canvas height="362" class="blog-users-by-device m-auto chartjs-render-monitor" width="494" style="display: block; height: 181px; width: 247px;"></canvas> -->
                            </div>
                            <div class="card-footer border-top">
                                <div class="row">
                                    <div class="col">
                                        <select class="custom-select custom-select-sm" style="max-width: 130px;">
                                            <option selected="">Last Week</option>
                                            <option value="1">Today</option>
                                            <option value="2">Last Month</option>
                                            <option value="3">Last Year</option>
                                        </select>
                                    </div>
                                    <div class="col text-right view-report">
                                        <a href="#">Full report →</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- End Users By Device Stats -->
                    <!-- New Draft Component -->

                    <!-- End New Draft Component -->
                    <!-- Discussions Component -->
                <!--
                    <div class="col-lg-5 col-md-12 col-sm-12 mb-4">
                        <div class="card card-small blog-comments">
                            <div class="card-header border-bottom">
                                <h6 class="m-0">Discussions</h6>
                            </div>
                            <div class="card-body p-0">
                                <div class="blog-comments__item d-flex p-3">
                                    <div class="blog-comments__avatar mr-3">
                                        <img src="images/avatars/1.jpg" alt="User avatar"> </div>
                                    <div class="blog-comments__content">
                                        <div class="blog-comments__meta text-muted">
                                            <a class="text-secondary" href="#">James Johnson</a> on
                                            <a class="text-secondary" href="#">Hello World!</a>
                                            <span class="text-muted">– 3 days ago</span>
                                        </div>
                                        <p class="m-0 my-1 mb-2 text-muted">Well, the way they make shows is, they make one show ...</p>
                                        <div class="blog-comments__actions">
                                            <div class="btn-group btn-group-sm">
                                                <button type="button" class="btn btn-white">
                              <span class="text-success">
                                <i class="material-icons">check</i>
                              </span> Approve </button>
                                                <button type="button" class="btn btn-white">
                              <span class="text-danger">
                                <i class="material-icons">clear</i>
                              </span> Reject </button>
                                                <button type="button" class="btn btn-white">
                              <span class="text-light">
                                <i class="material-icons">more_vert</i>
                              </span> Edit </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-comments__item d-flex p-3">
                                    <div class="blog-comments__avatar mr-3">
                                        <img src="images/avatars/2.jpg" alt="User avatar"> </div>
                                    <div class="blog-comments__content">
                                        <div class="blog-comments__meta text-muted">
                                            <a class="text-secondary" href="#">James Johnson</a> on
                                            <a class="text-secondary" href="#">Hello World!</a>
                                            <span class="text-muted">– 4 days ago</span>
                                        </div>
                                        <p class="m-0 my-1 mb-2 text-muted">After the avalanche, it took us a week to climb out. Now...</p>
                                        <div class="blog-comments__actions">
                                            <div class="btn-group btn-group-sm">
                                                <button type="button" class="btn btn-white">
                              <span class="text-success">
                                <i class="material-icons">check</i>
                              </span> Approve </button>
                                                <button type="button" class="btn btn-white">
                              <span class="text-danger">
                                <i class="material-icons">clear</i>
                              </span> Reject </button>
                                                <button type="button" class="btn btn-white">
                              <span class="text-light">
                                <i class="material-icons">more_vert</i>
                              </span> Edit </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-comments__item d-flex p-3">
                                    <div class="blog-comments__avatar mr-3">
                                        <img src="images/avatars/3.jpg" alt="User avatar"> </div>
                                    <div class="blog-comments__content">
                                        <div class="blog-comments__meta text-muted">
                                            <a class="text-secondary" href="#">James Johnson</a> on
                                            <a class="text-secondary" href="#">Hello World!</a>
                                            <span class="text-muted">– 5 days ago</span>
                                        </div>
                                        <p class="m-0 my-1 mb-2 text-muted">My money's in that office, right? If she start giving me...</p>
                                        <div class="blog-comments__actions">
                                            <div class="btn-group btn-group-sm">
                                                <button type="button" class="btn btn-white">
                              <span class="text-success">
                                <i class="material-icons">check</i>
                              </span> Approve </button>
                                                <button type="button" class="btn btn-white">
                              <span class="text-danger">
                                <i class="material-icons">clear</i>
                              </span> Reject </button>
                                                <button type="button" class="btn btn-white">
                              <span class="text-light">
                                <i class="material-icons">more_vert</i>
                              </span> Edit </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer border-top">
                                <div class="row">
                                    <div class="col text-center view-report">
                                        <button type="submit" class="btn btn-white">View All Comments</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                    <!-- End Discussions Component -->
                    <!-- Top Referrals Component -->
                <!--
                    <div class="col-lg-3 col-md-12 col-sm-12 mb-4">
                        <div class="card card-small">
                            <div class="card-header border-bottom">
                                <h6 class="m-0">Top Referrals</h6>
                            </div>
                            <div class="card-body p-0">
                                <ul class="list-group list-group-small list-group-flush">
                                    <li class="list-group-item d-flex px-3">
                                        <span class="text-semibold text-fiord-blue">GitHub</span>
                                        <span class="ml-auto text-right text-semibold text-reagent-gray">19,291</span>
                                    </li>
                                    <li class="list-group-item d-flex px-3">
                                        <span class="text-semibold text-fiord-blue">Stack Overflow</span>
                                        <span class="ml-auto text-right text-semibold text-reagent-gray">11,201</span>
                                    </li>
                                    <li class="list-group-item d-flex px-3">
                                        <span class="text-semibold text-fiord-blue">Hacker News</span>
                                        <span class="ml-auto text-right text-semibold text-reagent-gray">9,291</span>
                                    </li>
                                    <li class="list-group-item d-flex px-3">
                                        <span class="text-semibold text-fiord-blue">Reddit</span>
                                        <span class="ml-auto text-right text-semibold text-reagent-gray">8,281</span>
                                    </li>
                                    <li class="list-group-item d-flex px-3">
                                        <span class="text-semibold text-fiord-blue">The Next Web</span>
                                        <span class="ml-auto text-right text-semibold text-reagent-gray">7,128</span>
                                    </li>
                                    <li class="list-group-item d-flex px-3">
                                        <span class="text-semibold text-fiord-blue">Tech Crunch</span>
                                        <span class="ml-auto text-right text-semibold text-reagent-gray">6,218</span>
                                    </li>
                                    <li class="list-group-item d-flex px-3">
                                        <span class="text-semibold text-fiord-blue">YouTube</span>
                                        <span class="ml-auto text-right text-semibold text-reagent-gray">1,218</span>
                                    </li>
                                    <li class="list-group-item d-flex px-3">
                                        <span class="text-semibold text-fiord-blue">Adobe</span>
                                        <span class="ml-auto text-right text-semibold text-reagent-gray">827</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-footer border-top">
                                <div class="row">
                                    <div class="col">
                                        <select class="custom-select custom-select-sm">
                                            <option selected="">Last Week</option>
                                            <option value="1">Today</option>
                                            <option value="2">Last Month</option>
                                            <option value="3">Last Year</option>
                                        </select>
                                    </div>
                                    <div class="col text-right view-report">
                                        <a href="#">Full report →</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                    <!-- End Top Referrals Component -->
               <!-- </div> -->
              </div>
            <!--
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 mb-4">
                    <div class="card card-small">
                        <div class="card-header border-bottom">
                            <h6 class="m-0">Tasks</h6>
                        </div>
                        <div class="card-body pt-0">
                            <div id="dashboard" style="max-width: 100% !important; display: block; height: 280px; width: 600px;"></div>
                            -->
                            <!-- <canvas height="480" style="max-width: 100% !important; display: block; height: 240px; width: 556px;" class="blog-overview-users chartjs-render-monitor" width="1112"></canvas> -->
                            <!--
                        </div>
                    </div>
                </div>
            </div>
            -->
        </main>
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-12 col-md">
                    <img class="mb-2" src="images/couchbase-logo.png" alt="" width="24" height="24">
                    <small class="d-block mb-3 text-muted">© 2020-2021</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Features</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Cool stuff</a></li>
                        <li><a class="text-muted" href="#">Random feature</a></li>
                        <li><a class="text-muted" href="#">Team feature</a></li>
                        <li><a class="text-muted" href="#">Stuff for developers</a></li>
                        <li><a class="text-muted" href="#">Another one</a></li>
                        <li><a class="text-muted" href="#">Last time</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Resources</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Resource</a></li>
                        <li><a class="text-muted" href="#">Resource name</a></li>
                        <li><a class="text-muted" href="#">Another resource</a></li>
                        <li><a class="text-muted" href="#">Final resource</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="/connect/about">Team</a></li>
                        <li><a class="text-muted" href="#">Locations</a></li>
                        <li><a class="text-muted" href="#">Privacy</a></li>
                        <li><a class="text-muted" href="#">Terms</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</div>
</body>
</html>